*{
  box-sizing: border-box;
  margin: 0;
}

.App {
  box-sizing: border-box;
  background-color: green;
}

.App-header {
  text-align: center;
  background-color: #ccc;
  min-height: 10vh;
  min-width: 100vw;
  align-items: left;
  font-size: 2rem;
  color: red;
}

.card-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.card-display img {
  max-width: 90%;
}